<section class="products">
    <h1>Bienvenido a GAME STORE</h1>
    <div class="cardsContainer">
        {{#each docs}}
            <div class="productCard col">
                <h3>{{this.title}}</h3>
                <img src={{this.image}} alt={{this.title}}>
                <p class="platform">{{this.platform}}</p>
                <p class="price">${{this.price}}</p>
                <p class="overview">{{this.brief_overview}}</p>
                <form class="row"  action="/products/add" method="POST">
                    <input type="hidden" name="cartId" value="671898b6ffad40be7c8c92ea">
                    <input type="hidden" name="itemId" value={{this.id}}>
                    <input class="col quantity" type="number" placeholder="Cantidad" name="quantity" value="1">
                    <button class="col" type="submit">Añadir al carrito</button>
                </form>
            </div>    
        {{/each}}
    </div>
</section>