<section class="products">
    <h1>Bienvenido a GAME STORE</h1>
    <div class="cardsContainer">
        {{#each docs}}
            <div class="productCard col">
                <h3>{{this.title}}</h3>
                <img src={{this.image}} alt={{this.title}}>
                <p class="platform">{{this.platform}}</p>
                <p class="price">${{this.price}}</p>
                <p class="overview">{{this.brief_overview}}</p>
                <button class="addCartBtn" productId="{{this._id}}">Añadir al carrito</button>
            </div>    
        {{/each}}
    </div>
</section>